{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}

<div class="w-50 mx-auto">
{#    {% for echantillon in echantillons %}#}
{#        {% for echant in echantillon %}#}
{#            {{ dump(echant) }}#}
{#        {% endfor %}#}
{#    {% endfor %}#}
    {% for order in orders %}
{#    {{ dump(order.echantillons.toArray) }}#}
            <div class="form-container mb-3">
                    <p>Numéro du bon de commande : <strong>{{ order.id }}</strong></p>
                    {% for echantillon in order.echantillons.toArray %}
                            {{ dump(echantillon) }}
                    {% endfor %}
            </div>
    {% endfor %}
</div>
{% endblock %}
