{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    <div class="blocks-container">
        {% for role in app.user.roles %}
            {% if role == 'ROLE_ADMIN' %}
                {% for order in adminView %}
                    {{ dump(order) }}
                {% endfor %}
            {% endif %}
        {% endfor %}


        {% for order in orders %}
            {% set countEchantillons = 0 %}

            {% for echantillon in order.echantillons.toArray %}
                {% set countEchantillons = countEchantillons + 1 %}
            {% endfor %}
            {% if countEchantillons == 0 %}

            {% else %}
                <div class="block-container mb-3 mt-2">
                    <p>Numéro du bon de commande : <strong>{{ order.id }}</strong></p>

                    <p>Vous avez envoyé {{ countEchantillons }} échantillons</p>
                    <a href="{{ path('app_details_order', { id : order.id}) }}">Voir plus de détails</a>
                </div>

            {% endif %}

        {% endfor %}
    </div>
{% endblock %}
