{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    <div class="blocks-container">

        {% include 'home/adminView.html.twig' %}

        {% for order in orders %}
            {% set countEchantillons = 0 %}

            {% for echantillon in order.echantillons.toArray %}
                {% set countEchantillons = countEchantillons + 1 %}
            {% endfor %}
            {% if countEchantillons == 0 %}

            {% else %}
                <div class="block-container mb-3 mt-2">
                    <p>Numéro du bon de commande : <strong>{{ order.id }}</strong></p>

                    <p>Vous avez envoyé {{ countEchantillons }} échantillons</p>
                    <p>A été traiter ? {% if order.isExported == 0 %}
                            Non
                        {% else %}
                            Oui
                        {% endif %}</p>
                    <p>Vous avez créé ce bon de commande le <strong>{{ order.createdAt | date('d-m-Y') }}</strong></p>
                    <a href="{{ path('app_details_order', { id : order.id}) }}">Voir plus de détails</a>
                </div>

            {% endif %}

        {% endfor %}
    </div>
{% endblock %}
