{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}

<div class="w-50 mx-auto">
    {% for role in app.user.roles %}
        {% if role == 'ROLE_ADMIN' %}
            {% for order in adminView %}
                {{ dump(order) }}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% for order in orders %}
            <div class="form-container mb-3 mt-2">
                {% set countEchantillons = 0 %}
                    <p>Numéro du bon de commande : <strong>{{ order.id }}</strong></p>
                    {% for echantillon in order.echantillons.toArray %}
                            {% set countEchantillons = countEchantillons + 1 %}
                    {% endfor %}
                <p>Vous avez envoyé {{ countEchantillons }} échantillons</p>
                <a href="{{ path('app_details_order', { id : order.id}) }}">Voir plus de détails</a>
            </div>
    {% endfor %}
</div>
{% endblock %}
