<div>
    <strong>Entreprises commencant par :</strong>

    <div class="d-flex flex-column">
        <a href="{{ path('app_entreprise', { letter : 'ABC'}) }}">ABC</a>
        <a href="{{ path('app_entreprise', { letter : 'DEF'}) }}">DEF</a>
        <a href="{{ path('app_entreprise', { letter : 'GHIJ'}) }}">GHIJ</a>
        <a href="{{ path('app_entreprise', { letter : 'KLM'}) }}">KLM</a>
        <a href="{{ path('app_entreprise', { letter : 'NOPQ'}) }}">NOPQ</a>
        <a href="{{ path('app_entreprise', { letter : 'RSTU'}) }}">RSTU</a>
        <a href="{{ path('app_entreprise', { letter : 'VWXYZ'}) }}">VWXYZ</a>
    </div>


</div>