<div class="fake-div position-fixed">
    <h5>Entreprises commençant par :</h5>

    <div class="alphabet">
        <a class="qsa-alpha" href="{{ path('app_entreprise_ABC') }}">ABC</a>
        <a class="qsa-alpha" href="{{ path('app_entreprise_DEF') }}">DEF</a>
        <a class="qsa-alpha" href="{{ path('app_entreprise_GHIJ') }}">GHIJ</a>
        <a class="qsa-alpha" href="{{ path('app_entreprise_KLM') }}">KLM</a>
        <a class="qsa-alpha" href="{{ path('app_entreprise_NOPQ') }}">NOPQ</a>
        <a class="qsa-alpha" href="{{ path('app_entreprise_RSTU') }}">RSTU</a>
        <a class="qsa-alpha" href="{{ path('app_entreprise_VWXYZ') }}">VWXYZ</a>
    </div>
</div>

