<div>
    <strong>Entreprises commencant par :</strong>

    <div class="d-flex flex-column">
        <a href="{{ path('app_entreprise_ABC') }}">ABC</a>
        <a href="{{ path('app_entreprise_DEF') }}">DEF</a>
        <a href="{{ path('app_entreprise_GHIJ') }}">GHIJ</a>
        <a href="{{ path('app_entreprise_KLM') }}">KLM</a>
        <a href="{{ path('app_entreprise_NOPQ') }}">NOPQ</a>
        <a href="{{ path('app_entreprise_RSTU') }}">RSTU</a>
        <a href="{{ path('app_entreprise_VWXYZ') }}">VWXYZ</a>
    </div>


</div>