{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    {% for order in pagination %}
        {{ order.id }}
    {% endfor %}


    <div class="pagination">
        <ul>
            {% if pagination.currentPageNumber > 1 %}
                <li><a href="{{ path('app_entreprise', {'id': entreprise.id, 'page': pagination.currentPageNumber - 1}) }}">Précédent</a></li>
            {% endif %}

            {% for page in pagination.pageRange %}
                {% if pagination.currentPageNumber == page %}
                    <li class="active"><span>{{ page }}</span></li>
                {% else %}
                    <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': page})) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% set nbTotalPage = pagination.totalItemCount / pagination.itemNumberPerPage %}

            {% if pagination.currentPageNumber < nbTotalPage %}
                <li><a href="{{ path('app_entreprise', {'id': entreprise.id, 'page': pagination.currentPageNumber + 1}) }}">Suivant</a></li>
            {% endif %}
        </ul>
    </div>


{% endblock %}

