{% extends 'base.html.twig' %}

{% block title %}Détails commande | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Numéro de commande {{ order.id }}</h1>
    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    {% for echantillon in echantillons %}
        {{ dump(echantillon) }}
    {% endfor %}
    {% if order.isExported == 0 %}
        {% if app.user.id == order.entreprise.id %}
            <a href="{{ path('app_add_missing_echantillon', {'id': order.id}) }}">Ajouter de nouveaux échantillons</a>
        {% endif %}
        {% for role in app.user.roles %}
            {% if role == 'ROLE_ADMIN' %}
                <a class="btn btn-primary" href="{{ path('export_order', {'id': order.id}) }}">Exporter les échantillons en XLSX</a>
            {% endif %}
        {% endfor %}
        {% else %}
    {% endif %}
{% endblock %}
