{% extends 'base.html.twig' %}

{% block title %}Choisir la méthode | {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-7 mx-auto d-flex justify-content-around">
        <div class="bg-gray">
            <p>Un par un</p>
            <a href="{{ path('app_order_one_by_one') }}">Ajouter un échantillon un par un</a>
        </div>
        <div>
            <p>En remplissant un fichier excel</p>
            <p>Voici deux model un CSV et un XLSX</p>
            <a class="btn qsa-btn " href="{{ path('app_download_csv_model') }}">Model CSV</a>
            <a class="btn qsa-btn " href="{{ path('app_download_xlsx_model') }}">Model XLSX</a>

            <a href="{{ path('app_order_by_excel') }}">Ajouter des échantillons grâce à un excel</a>
        </div>
    </div>
{% endblock %}
